body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #fff;
  background: #333;
}

#typing {
  color: #fff;
  font-family: serif;
  border-right: 0.15em solid;
  letter-spacing: 0.15em;
  font-size: xx-large;
  animation: cursor-effect 0.8s step-start infinite;
}

@keyframes cursor-effect {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
